html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  color: var(--gray-200);
}

[x-cloak] {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .hide-narrow {
    display: none;
  }
}

#app {
  display: flex;
  background-color: var(--zinc-900);
  height: 100%;
}

nav {
  background-color: var(--slate-800);
  padding: 0.5rem;
  flex-shrink: 0;
}

header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--slate-900);
  background-color: var(--teal-500);
  border-radius: 7px;
  box-shadow: 2px 2px 12px var(--gray-900);
}

section {
  background-color: var(--zinc-700);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 7px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}
section header {
  background-color: antiquewhite;
  padding: 0.2rem;
  margin: 0.1rem 0.1rem 1rem 0.1rem;
  font-size: 1.4rem;
  background-color: var(--slate-800);
  padding-left: 1rem;
  color: var(--gray-300);
  box-shadow: none;
}

.row {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navhead {
  text-align: center;
  font-weight: 700;
  background-color: var(--zinc-800);
  padding: 0.5rem;
  border: 4px solid var(--zinc-900);
  border-radius: 7px;
  cursor: pointer;
}
.navhead img {
  width: 4rem;
  margin: 0 auto;
  padding-bottom: 0.2rem;
}

main {
  padding: 0.75rem;
}

hr {
  border: 1px solid var(--teal-900);
  margin: 1rem 0 1rem 0 !important;
}

.btn {
  background-color: var(--teal-500);
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 7px;
  color: var(--gray-900);
  font-weight: bold;
  text-align: center;
  border: 0;
  min-width: 2.5rem;
}
.btn:hover {
  filter: brightness(80%);
  box-shadow: 2px 2px 15px var(--zinc-900);
}
.btn:disabled {
  filter: grayscale(70%);
  color: var(--gray-600);
  box-shadow: none;
  cursor: not-allowed;
}
.btn-sm {
  padding: 0.3rem;
  font-size: 0.85rem;
}
.primary {
  background-color: var(--sky-500);
}
.success {
  background-color: var(--green-600);
}
.warning {
  background-color: var(--amber-400);
}
.danger {
  background-color: var(--red-500);
}
.info {
  background-color: var(--indigo-600);
}
.outline {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid var(--teal-400) !important;
  color: var(--gray-400);
  outline-style: none !important;
}
.outline:not([disabled]):hover {
  color: var(--cyan-400);
}

.active {
  filter: brightness(140%);
}

.flex-fill {
  flex: 1;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
select,
option {
  background-color: var(--teal-900);
  color: var(--teal-100);
  border: 2px solid var(--teal-600);
  outline: none;
  padding: 0.3rem !important;
  border-radius: 7px;
}
select:focus {
  border: 2px solid var(--teal-200);
}

.label {
  width: 150px;
  display: inline-block;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

/* Monitoring */

.monitor-log {
  overflow: auto;
  height: 70vh;
  display: block;
  padding-bottom: 0.1rem;
  background-color: #0c0c0c;
}
.monitor-log th {
  position: sticky;
  top: 0;
  background-color: var(--zinc-800);
  padding: 0.3rem;
  border-right: 2px solid var(--cyan-600);
}
.monitor-log td {
  padding: 0.5rem;
  border-right: 2px solid var(--cyan-600);
}
.monitor-log table {
  border-collapse: collapse;
  width: 100%;
}
.monitor-log tr:nth-child(even) {
  background-color: #090909;
}

.msg-note {
  color: var(--green-400);
}
.msg-control {
  color: var(--sky-500);
}
.msg-system {
  color: var(--orange-500);
}
.msg-program {
  color: var(--purple-400);
}
.msg-bank {
  color: var(--sky-300);
}

.output {
  font-size: 1.4rem;
  font-family: 'Consolas', monospace;
  font-weight: bold;
  background-color: var(--gray-900);
  color: var(--cyan-200);
  border: 2px solid var(--teal-500);
  padding: 1 1rem 0 1rem !important;
  text-align: center;
  border-radius: 0.4rem;
  margin: 0 !important;
  height: 2.6rem;
  line-height: 2.5rem;
}

.gray {
  background-color: var(--gray-700) !important;
  color: var(--gray-300) !important;
  border: 2px solid var(--gray-600) !important;
}

.w5 {
  width: 5vw;
}
.w10 {
  width: 10vw;
}
.w15 {
  width: 15vw;
}
.w20 {
  width: 20vw;
}
.w25 {
  width: 25vw;
}

.w12rem {
  width: 12rem;
}
.w8rem {
  width: 8rem;
}
.w5rem {
  width: 5rem;
}
.w4rem {
  width: 4rem;
}
.w3rem {
  width: 3rem;
}
.w1rem {
  width: 1rem;
}

.center {
  text-align: center;
}
.toggle {
  width: 3rem;
  padding: 0.2rem;
}

.disabled {
  color: var(--gray-700);
  background-color: var(--gray-500);
  box-shadow: none;
  border: none;
}
.hint {
  color: var(--gray-400);
  font-size: 1rem;
  cursor: pointer;
  margin-left: -10px;
  user-select: none;
}

/* piano keys */
.key-wrapper {
  justify-content: center;
  background-color: var(--slate-600);
  padding: 3rem;
  padding-top: 1rem;
  border-radius: 0.75rem;
  gap: 0.2rem;
}

.key {
  background-color: white;
  height: 14rem;
  width: 3rem;
  position: relative;
  vertical-align: bottom;
  text-align: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  box-shadow: inset -2px -4px 4px var(--zinc-600), 0px 4px 12px var(--zinc-900);
  border: 1px solid var(--zinc-800);
  border-radius: 0 0 0.4rem 0.4rem;
}
.key span {
  bottom: 0;
  position: absolute;
  color: var(--gray-600);
  left: 0;
  width: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.key-black {
  background-color: var(--gray-900);
  height: 8rem;
  width: 2.5rem;
  position: absolute;
  box-shadow: inset -2px -4px 4px black, 0px 4px 12px var(--zinc-900);
  border-radius: 0 0 0.4rem 0.4rem;
  z-index: 30;
  left: 1.8rem;
  top: -0.2rem;
  cursor: pointer;
  user-select: none;
}
.key-black span {
  width: 2.5rem;
  color: var(--gray-500);
  font-size: 1.3rem;
}

.key-black.pressed {
  box-shadow: inset 0px -2px 4px black, 0px 2px 4px var(--zinc-800);
}

.pressed {
  box-shadow: inset 0px -2px 4px var(--zinc-600), 0px 2px 4px var(--zinc-800);
}

/* modal */

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 15rem;
  background-color: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(10px);
  border: 3px solid var(--zinc-600);
  box-shadow: 0px 5px 20px black;
  z-index: 100;
  transform: translate(-10rem, -7rem);
  border-radius: 0.4rem;
}

.dialog header {
  background-color: var(--gray-500);
}
.dialog ul {
  padding-left: 3rem;
  font-size: 1.2rem;
}
.dialog li {
  list-style: square;
}

.modalwrapper {
  filter: brightness(0.7) blur(10px);
}
.right {
  float: right;
}
