<div class="flex">
  <header class="flex-fill"><i class="fas fa-music fa-fw"></i> &nbsp; Keyboard</header>

  <header style="background-color: var(--neutral-500)">
    <div x-html="`<i class='fas fa-plug fa-fw'></i> Channel: ${parseInt($store.config.channel) + 1}`"></div>
  </header>
</div>

<div class="row">
  Octave: &nbsp;
  <select x-model="offset">
    <option value="0">1</option>
    <option value="12">2</option>
    <option value="24">3</option>
    <option value="36">4</option>
    <option value="48">5</option>
    <option value="60">6</option>
    <option value="72">7</option>
    <option value="84">8</option>
    <option value="96">9</option>
    <option value="108">10</option>
  </select>

  <div class="w10rem"></div>
  Velocity: &nbsp;
  <select x-model="velocity">
    <option value="20">20</option>
    <option value="40">40</option>
    <option value="60">60</option>
    <option value="80">80</option>
    <option value="100">100</option>
    <option value="127">127</option>
  </select>
</div>

<hr />

<div class="row key-wrapper">
  <div class="key" x-data="key" data-key="0">
    <span>C</span>
    <div class="key-black" x-data="key" data-key="1">
      <span>C♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="2">
    <span>D</span>
    <div class="key-black" x-data="key" data-key="3">
      <span>D♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="4">
    <span>E</span>
  </div>
  <div class="key" x-data="key" data-key="5">
    <span>F</span>
    <div class="key-black" x-data="key" data-key="6">
      <span>F♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="7">
    <span>G</span>
    <div class="key-black" x-data="key" data-key="8">
      <span>G♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="9">
    <span>A</span>
    <div class="key-black" x-data="key" data-key="10">
      <span>A♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="11">
    <span>B</span>
  </div>

  <div class="key" x-data="key" data-key="12">
    <span>C</span>
    <div class="key-black" x-data="key" data-key="13">
      <span>C♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="14">
    <span>D</span>
    <div class="key-black" x-data="key" data-key="15">
      <span>D♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="16">
    <span>E</span>
  </div>
  <div class="key" x-data="key" data-key="17">
    <span>F</span>
    <div class="key-black" x-data="key" data-key="18">
      <span>F♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="19">
    <span>G</span>
    <div class="key-black" x-data="key" data-key="20">
      <span>G♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="21">
    <span>A</span>
    <div class="key-black" x-data="key" data-key="22">
      <span>A♯</span>
    </div>
  </div>
  <div class="key" x-data="key" data-key="23">
    <span>B</span>
  </div>
</div>
