<div class="flex">
  <header class="flex-fill"><i class="fas fa-tools fa-fw"></i> Message Tools</header>

  <header style="background-color: var(--neutral-500)">
    <a style="text-decoration: none; color: #eee" href="#config" :class="{'active': page === '#config'}"> <div x-html="`<i class='fas fa-plug fa-fw'></i> Channel: ${parseInt($store.config.channel) + 1}`"></div></a>
  </header>
</div>

<section>
  <header>Control Messages (CC)</header>

  <div class="row">
    <div class="label">Number:</div>
    <select x-model="ccNumber">
      <template x-for="cc in ccList">
        <option :value="cc.number" x-text="cc.name"></option>
      </template>
    </select>
  </div>

  <div class="row">
    <div class="label">Value:</div>
    <input type="range" class="w12rem" min="0" max="127" x-model="ccValue" />
    <div class="output w5rem" type="text" x-text="ccValue"></div>
    <button class="btn inline toggle lh-1" @click="sendOnChange = !sendOnChange" x-text="sendOnChange ? '✓': '✖'" :class="{ 'disabled': ! sendOnChange }"></button>
    <span class="hint" @click="sendOnChange = !sendOnChange">Auto send</span>
  </div>

  <div class="row">
    <div class="label"></div>
    <button class="btn inline" @click="sendCC"><i class="fas fa-bolt fa-fw"></i> SEND CC</button>
  </div>
</section>

<section>
  <header>Non-Registered Parameter Numbers (NRPN)</header>
  <div class="row">
    <div class="label"></div>
    <div class="w5rem center"><b>MSB</b></div>
    <div class="w3rem"><b>LSB</b></div>
    <div class="w8rem center"><b>Value</b></div>
  </div>
  <div class="row">
    <div class="label">Number:</div>
    <select x-model="nrpnNumMsb" @change="updateNrpnNum">
      <template x-for="n in sevenBitNums">
        <option :value="n" x-text="n"></option>
      </template>
    </select>

    <select x-model="nrpnNumLsb" @change="updateNrpnNum">
      <template x-for="n in sevenBitNums">
        <option :value="n" x-text="n"></option>
      </template>
    </select>
    &nbsp;
    <div class="output w5rem" type="text" x-text="nrpnNum"></div>
  </div>

  <div class="row">
    <div class="label">Value:</div>
    <select x-model="nrpnValueMsb" @change="updateNrpnValue">
      <template x-for="n in sevenBitNums">
        <option :value="n" x-text="n"></option>
      </template>
    </select>

    <select x-model="nrpnValueLsb" @change="updateNrpnValue">
      <option value="-1">NA</option>
      <template x-for="n in sevenBitNums">
        <option :value="n" x-text="n"></option>
      </template>
    </select>
    &nbsp;
    <div class="output w5rem" type="text" x-text="nrpnValue"></div>
  </div>

  <div class="label"></div>
  <button class="btn inline" @click="sendNRPN"><i class="fas fa-bolt fa-fw"></i> SEND NRPM</button>
</section>

<section>
  <header>Program & Bank Change</header>
  <div class="row">
    <div class="label">Patch:</div>
    <input type="range" class="w12rem" min="0" max="127" x-model="pcValue" />
    <div class="output w5rem" type="text" x-text="pcValue"></div>
  </div>

  <div class="label"></div>
  <button class="btn inline" @click="sendPC"><i class="fas fa-bolt fa-fw"></i> SELECT PATCH</button>

  <hr />

  <div class="row">
    <div class="label"></div>
    <div class="w5rem center"><b>MSB</b></div>
    <div class="w3rem"><b>LSB</b></div>
    <div class="w8rem center"><b>Value</b></div>
  </div>

  <div class="row">
    <div class="label">Bank:</div>
    <select x-model="bankMsb" @change="updateBank">
      <template x-for="n in sevenBitNums">
        <option :value="n" x-text="n"></option>
      </template>
    </select>

    <select x-model="bankLsb" @change="updateBank">
      <template x-for="n in sevenBitNums">
        <option :value="n" x-text="n"></option>
      </template>
    </select>
    &nbsp;
    <div class="output w5rem" type="text" x-text="bankNum"></div>
  </div>

  <div class="label"></div>
  <button class="btn inline" @click="sendBank"><i class="fas fa-bolt fa-fw"></i> SELECT BANK</button>
</section>
